@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

html {
  scroll-behavior: smooth;
  font-family: Arvo;
}

/*limpar a margem do corpo todo*/
body {
  margin: 0;
  background: #e3fafd;
}

/*limpar margens do h1, h2, h3*/
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1em;
}

h2 {
  display: none;
  font-size: 1.1em;
}

/*propriedades do header*/
header {
  background: #8398a3;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  color: white;
}

/*propriedades da barra lateral*/
#nav-bar {
  background: #222c37ef;
  text-align: center;
  padding-top: 40px;
  color: white;
}

/*remove underline dos links na barra*/
#nav-bar a {
  color: inherit;
  text-decoration: none;
}

/*remove bolibnha dos links na barra*/
#nav-bar ul {
  list-style-type: none;
  padding-left: 0;
}

.sections {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0;
}

/*espaçamento entre os nav-links*/
.nav-link {
  padding: 8px 4px;
  display: inline-block;
  width: 90%;
  font-size: 0.7em;
}

.nav-link:hover {
  transition: 0.5s;
  background: #8398a3;
}

/*div com conteudo principal*/
.container {
  padding: 30px 25px 0px;
  text-align: justify;
  line-height: 1.5em;
}

/*cada seção*/
.main-section {
  padding-top: 60px;
}

/*850px*/
/*propriedades para telas com 850px+*/
@media (min-width: 850px) {
  .sections {
    display: inline-block;
    margin-top: 15px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    padding-top: 15px;
    display: block;
  }

  /*fixa a barra na esquerda*/
  #nav-bar {
    position: fixed;
    width: 100px;
    height: 100%;
    transition: 0.4s;
    padding-top: 0;
  }

  /*expande a barra no hover*/
  #nav-bar:hover {
    width: 300px;
    transition: 0.4s;
  }

  .nav-link:hover {
    transition: 0.5s;
    background: #8398a3;
    width: 100%;
    padding: 10px 0;
  }
  .nav-link {
    padding: 10px 0;
    font-size: 1em;
  }

  /*margem do conteúdo principal em relação à barra*/
  .content-margin {
    margin-left: 100px;
  }

  /*margem do conteudo principal*/
  .container {
    margin: 0 auto;
    max-width: 70%;
  }
}
